.projects {
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20.66rem;
    margin: 0 .5rem 2.3rem 0rem;
}

.projects .imageContainer {
    height: 11.66rem;
    margin-bottom: 1rem;
    object-fit: contain;
    object-position: center;
    text-align: center;
}

.projects .imageContainer img {
    display: block;
    margin: auto;
}

.projectImage {
    border-radius: 0%;
    max-height: 125%;
    max-width: 125%;
}

.projects .projectText {
    padding: 2% 4%;
    line-height: 1.2;
}



.projects h2 {
    margin-bottom: .5rem;
    font-size: x-large;
    font-weight: 600;
}

.projects h4 {
    margin-bottom: .5rem;
    font-size: large;
    font-weight: 600;
}

.projectInformation p {
    
    font-weight: 300;
    line-height: 1.2rem;
}

.projects .workButtons {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.projects .workButtons span {
    font-weight: 400;
}


.projects .linkbutton {
    margin-bottom: 7px;
    background-color: #64ffda;
    opacity: 85%;
    position: relative;
    display: inline-block;
    padding: 0.5rem;
    border: none;
    margin-right: 5px;
    transition: all 300ms ease-out;
}

.projects .a, .linkbutton {
    color: #0a192f;
    text-decoration: none;
    letter-spacing: 0.01rem;
    font-size: 1rem;
    font-style: italic;
    text-transform: capitalize;
}

.projects a {
    cursor: pointer;
    transition: transform 250ms;
}


.projects a:hover {
    background-color: orange;
    transform: translateY(-5px);
}