.skillsection {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 8%;
}

@media only screen and (max-width: 700px) {
    .skillsection {
        padding: 0%;
        
    }

    .skillsection h1, .skillsection p, .skillsection .currentlyWorking {
        padding-left: 5%;
        padding-right: 5%;
    }

    
}

.skillsection h1 {
    text-align: left;
    font-size: 1.6rem;
    color: #64ffda;
}

.skillsection p {
    padding-top: 20px;
    text-align: left;
}


.containersIcon {
    text-align: center;
    margin: 1.5rem 15% 1rem 15%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.containersIcon .boxIcon {
    width: 30%;
    height: 142px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@media only screen and (min-width: 1024px) {
    .containersIcon .boxIcon {
        width: 12.5%;
    }
  }

@media only screen and (min-width: 600px) {
    .containersIcon .boxIcon {
        width: 20%;
    }
  }

.containersIcon .devicon {
    color: whitesmoke;
    font-size: 3.5rem;
}

.containersIcon .boxIcon p {
    padding-top: 10px;
    text-align: center;
}

.devicon-css3-plain:before {
    content: "\e679";
}


.containersIcon .imageIcon {
    height: 3.5rem;
    width: 3.5rem;
    object-fit: contain;
}

.containersIcon img {
    vertical-align: top;
    margin-top: 0px;
    border-radius: 0%;
}

.currentlyWorking h3 {
    text-align: left;
    font-size: 1.2rem;
}

.currentlyWorking p {
    padding: 10px 0%;
}







