.head {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0a192f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
}



.head ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #0a192f;
    text-align: center;
}




.head ul li {
    position: relative;

}

.head li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: transform 250ms;
    color: whitesmoke;
}

.head li a:hover {
    color: #64ffda;
    transform: translateY(-5px);
}

.head .resume {
    padding: 10px;
    margin: 15px;
}

.head .resumeButton {
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 0.5rem 0.5rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    margin: 15px;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.head .resume a:hover {
    opacity: 50%;
    transform: translateY(-5px);
}

@media only screen and (max-width: 700px) {
    .head ul {
        padding-left: 0%;
    }

    .head .hide {
        display: none;
    }

    .head a.resumeButton {
       margin-right: 50px;
    }
}



