.head {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
}

.navbar {
    
    flex-direction: column;
    justify-content: center;
    
    background-size: cover;
    height: 25rem;
}

.head ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.head li {
    float: left;
    border-right: 1px solid #bbb;
}

.head li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.head li a:hover {
    background-color: darkgreen;
}